<% @concerts.each do |concert| %>
	<div>
		<h2><%= concert.artist %> 
		On: <%= concert.date %></h2>
		<p>
		<strong>Price: <%= number_to_currency(concert.price) %></strong>
		<%= link_to "Purchase Ticket", concerts_path %><br>
		<%= link_to "More Details", concert_path(concert) %>
		</p>
	</div>
	<hr>
<% end %>
