<% @concerts.each do |concert| %>
	<div>
		<h2><%= concert.artist %></h2>
		<h3>Playing at: <%= concert.venue %> in <%= concert.city %></h3>
		<h3>On: <%= concert.date %></h3>
		<p><%= concert.description %></p>
		<p>
		<strong>Price: <%= number_to_currency(concert.price) %></strong>
		<%= link_to "Purchase Ticket", concerts_path %>
		</p>
	</div>
	<hr>
<% end %>
