<div>
	<h2><%= @concert.artist %></h2>
	<h3>Playing at: <%= @concert.venue %> in <%= @concert.city %></h3>
	<h3>On: <%= @concert.date %></h3>
	<p><%= @concert.description %></p>
	<p>
		<strong>Price: <%= number_to_currency(@concert.price) %></strong>
		<%= link_to "Purchase Ticket", concerts_path %><br>
		<%= link_to "Edit", edit_concert_path(@concert) %><br>
		<%= link_to "Delete Concert", concert_path(@concert), method: "delete", data: {confirm: "Are you sure?"} %>
	</p>
</div>
