<!DOCTYPE html>
<html>
<head>
  <title>ConcertNetwork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<center>
	<h1>Music Concert Network</h1>
</center>

<%= render "partials/menu" %>

<%= yield %>

<center>
	<footer>
		Copywrite Techno Tech LLC @ 2016
	</footer>
</center>

</body>
</html>
